<div id="<%= dom_id proyect %>">
  <p>
    <strong>Title:</strong>
    <%= proyect.title %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= proyect.slug %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= proyect.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= proyect.status %>
  </p>

</div>
