<div id="<%= dom_id proyect %>">
  <p>
    <strong>Title:</strong>
    <%= proyect.title %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= proyect.slug %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= proyect.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= proyect.status %>
  </p>

  <p>
    <strong>Users:</strong>
    <% proyect.proyect_users.each do |proyect_user| %>
      <div class="d-block">
        <%= proyect_user.user.email %>
        <%= proyect_user.role %>
      </div>
    <% end %>
  </p>

</div>
