<h1 style="line-height: 30px">
  Proyectos
  <%= link_to "Crear proyecto", new_proyect_path, class: "btn btn-success  float-end" %>
</h1>


<div id="proyects">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Slug</th>
        <th>Descripcion</th>
        <th>Estatus</th>
        <th>Usuarios Asignados</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <% @proyects.each do |proyect| %>
        <tr>
          <td><%= proyect.id%></td>
          <td><%= proyect.title%></td>
          <td><%= proyect.slug%></td>
          <td><%= proyect.description%></td>
          <td><%= t("activerecord.attributes.proyect.statuses.#{proyect.status}")%></td>
          <td><%= proyect.users.pluck(:name).join('<br>').html_safe%></td>
          <td class="w-auto">
            <%= link_to "Ver", proyect, class: "btn btn-primary" %>
            <% unless proyect.proyect_users.find_by(user: current_user).member?%>
              <%= link_to "Editar", edit_proyect_path(proyect), class: "btn btn-info text-light" %>
            <% end %>
            <% if proyect.owner == current_user %>
              <%= button_to "Eliminar", proyect, method: :delete, class: "btn btn-danger", form_class: "d-inline" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
