<%= render @proyect %>

<div class="text-center w-100">
  <div class="btn-group mt-3" role="group">
    <% unless @proyect.proyect_users.find_by(user: current_user).member?%>
      <%= link_to "Editar proyecto", edit_proyect_path(@proyect), class: "btn btn-primary" %>
      <%= link_to "Editar usuarios del proyecto", proyect_proyect_users_path(@proyect), class: "btn btn-outline-primary" %>
    <% end %>
    <%= link_to "Regresar a proyectos", proyects_path, class: "btn btn-dark" %>
    <% if @proyect.owner == current_user %>
      <%= button_to "Eliminar Proyecto", @proyect, method: :delete, class: "btn btn-danger", style: "border-bottom-left-radius: 0;border-top-left-radius: 0;" %>
    <% end %>
  </div>
</div>
