<h1 class="text-center">Iniciar sesion</h1>

<%= form_for(User.new, url: token_logins_url, method: :post, html: {class: "row justify-content-center"}) do |f| %>
  <div class="col-4">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", required: true %>
    <%= f.submit 'Enviar enlace de login', class: "btn btn-success mt-3 w-100" %>
    <%= link_to "Registrarse", new_registration_path(resource_name), class: "btn btn-outline-success mt-3 w-100" %><br />
  </div>
<% end %>
