<h2>Iniciar sesion</h2>

<%= form_for(User.new, url: token_logins_url, method: :post) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.submit 'Enviar enlace de login' %>
<% end %>

<%= link_to "Registrarse", new_registration_path(resource_name) %><br />

<% unless User.all.size.zero? %>
  <div class="mt-5">
    Has click para ver el preview del email que te llegaria de tener un servidor de emails configurado...
    <br>
    <%= link_to "Email preview para el 1 usuario registrado", "http://localhost:3000/rails/mailers/token_login_mailer", class: "link-success" %>
  </div>
<% end %>
